.main-body {
    background-color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    
}

.main-body img{
    height: 20px;
    width: 20px;
}

.tables {
    width: 870px;
    height: 250px;
    box-shadow: 0 0 0 1px grey;
    background-color: #333232;
    border-radius: 7px;
    color: white;
    border-collapse: collapse;
  
}

.tables thead{
    text-align: left;
}
 
.tables th{
    box-shadow: #818181; 
    height: 60px; 
    border-bottom: 1px solid grey;
    border: none;  
}


tr{
    border-bottom: 1px solid gray;
}


.cell-0{
    color:white;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    padding-left: 10px;
    border-bottom: 1px solid gray;
}

.cell-0 img{
    width: 12px;
    height: 12px;
   
}

.cell-1 {
    color:white;
    border-bottom: 0px;
    border-left: 0px;
    width: 50%;
    padding-left: 10px;
    border: none;
   
}

.cell-1 img{
    width: 25px;
    height: 20px;
}

.cell-2{
    color: grey;
    width: 35%;
    border-bottom: 1px solid gray;
    border-left: 0px;
    border-right: 0px;
    border: none;
}
 
.cell-3 {
    text-align: center;
    width: 10%;
    border-left: 0px;
    padding-left: 10px;
    
}

.checkbox{
    height: 20px;
    width: 20px;
    background-color: #444444;
    border: 1px solid #333232;
    padding: 5px; 
    margin-right: 10px;
    text-decoration-color: #818181;
}

.search-parent{
    display: flex;
    flex-direction: row;
}

.search{
    align-self: flex-end;
    height: 50px;
    width: 260px;
    background-color: #444444;
    border: 1px solid #333232;
    border-radius: 7px;
    font-size: 20px;   
    margin-left: 110px;
    text-align: center;
}

.placeholder{
    color: #818181;
    font-weight: 500;
    font-size: 15px;

}

.folder{
    margin-right: 7px;
}

.last-raw {
    border-bottom: 0px;
}












